<div class="gallery">
  <div class="btn">
    <button type="button" onclick="
    location.href='./login'">Login</button>
    <button type="button" onclick="location.href='./register'">Register</button>
    <button type="button" onclick="location.href='./logout'">Logout</button>
    <button type="button" onclick="location.href='./gallery/new'">Upload a Photo</button>
    {{#if photos}}
    {{#each photos}}
    <div class="photo">
      <p>Title: {{title}}</p>
      <img src='{{link}}' alt='img'>
      <p>Author: {{author.author}}</p>
      <p>Description: {{description}}</p>
    </div>
    <div class="deleteBtn">
      <form action="/gallery/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="id" value={{id}}>
        <button type="submit">Remove</button>
      </form>
    </div>
    <div class="editBtn">
      <a href="/gallery/{{id}}/edit">
        <button type="button">Edit</button>
      </a>
    </div>
    {{/each}}
    {{else}}
    <p>No photos to display</p>
    {{/if}}
  </div>